
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2') format('woff2');
}


body {
  font-family: 'Poppins', sans-serif;
  background-image: url(../src/assets/img/dragon-scales.svg);
  background-size: cover;
  height: 100vh;
  
}
